$font-acid-grotesk: 'Acid Grotesk Regular', sans-serif;
$font-inter-regular: 'Inter Regular', sans-serif;
$font-inter-medium: 'Inter Medium', sans-serif;


:root {
  --background: #FCFAF7;
  --text: #18181B;
  --background-dark: #0C0805;
  //--muted: #A1A1AA;
  //--muted: rgba(24,24,27,0.8)
  --muted: #5E5E5B;
  --muted-muted: rgba(42,5,37,0.2);

  --brown: #3c2515;
  --yellow: #FAF09E;

  --text-on-dark: #FCFAF7;
  --text-on-dark-dim: #DADADD;
  --text-on-dark-faint2: rgba(244, 240, 230, 0.50);
  --text-on-dark-faint: rgba(244, 240, 230, 0.35);

  --page-margin: 16px;
  --grid-gap: 16px;
  --radius: 16px;
}

@media (min-width: 768px) {
  :root {
    --page-margin: 48px;
    --grid-gap: 24px;
    --radius: 16px;
  }
}
