$font-acid-grotesk: 'Acid Grotesk Regular', sans-serif;
$font-inter-regular: 'Inter Regular', sans-serif;
$font-inter-medium: 'Inter Medium', sans-serif;


:root {
  --background: #FCFAF7;
  --text: #18181B;
  --background-dark: #0C0805;
  --muted: #A1A1AA;

  --brown: #3c2515;
  --yellow: #f7d45c;
  --light-yellow: #FBF683;

  --light-grey: #E4E4E7;


  --text-on-dark: #FCFAF7;
  --text-on-dark-dim: #DADADD;
  --text-on-dark-faint2: rgba(244, 240, 230, 0.50);
  --text-on-dark-faint: rgba(244, 240, 230, 0.35);

  --page-margin: 16px;
  --grid-gap: 16px;
  --radius: 16px;
}

@media (min-width: 768px) {
  :root {
    --page-margin: 48px;
    --grid-gap: 24px;
    --radius: 24px;
  }
}
