@font-face {
  font-family: 'Acid Grotesk Regular';
  src:
    url('../fonts/FFF-AcidGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/FFF-AcidGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Regular';
  src: url('../fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Medium';
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


// Type scale
$type-scale-desktop: (
  xs: (
    font-family: $font-inter-medium,
    size: 14px,
    line-height: 120%,
    letter-spacing: 0.2px
  ),
  sm: (
    font-family: $font-inter-medium,
    size: 18px,
    line-height: 120%,
    letter-spacing: 0px
  ),
  md: (
    font-family:  $font-inter-regular,
    size: clamp(1.2rem, 1rem + 2vw, 1.625rem),
    line-height: 135%,
    letter-spacing: -0.5px
  ),
  lg: (
    font-family: $font-acid-grotesk,
    size: 50px,
    line-height: 100%,
    letter-spacing: -1px
  ),
  xl: (
    font-family: $font-acid-grotesk,
    size: clamp(3rem, 1rem + 4vw, 5.375rem),
    line-height: 1,
    letter-spacing: -1px
  )
);


// Type scale Mobile
$type-scale-mobile: (
  xs: (
    font-family: $font-inter-medium,
    size: 14px,
    line-height: 120%,
    letter-spacing: 0px
  ),
  sm: (
    font-family: $font-inter-medium,
    size: 16px,
    line-height: 120%,
    letter-spacing: 0px
  ),
  md: (
    font-family:  $font-inter-regular,
    size: 19px,
    line-height: 125%,
    letter-spacing: -0.5px
  ),
  lg: (
    font-family: $font-acid-grotesk,
    size: 30px,
    line-height: 100%,
    letter-spacing: -1px
  ),
  xl: (
    font-family: $font-acid-grotesk,
    size: clamp(2.5rem, 1rem + 4vw, 5.375rem),
    line-height: 1,
    letter-spacing: -1px
  )
);


// Mixin
@mixin type-scale($step) {
  $mobile: map-get($type-scale-mobile, $step);
  $desktop: map-get($type-scale-desktop, $step);

  font-family: map-get($mobile, font-family);
  font-size: map-get($mobile, size);
  line-height: map-get($mobile, line-height);
  letter-spacing: map-get($mobile, letter-spacing);

  @media (min-width: 768px) {
    font-family: map-get($desktop, font-family);
    font-size: map-get($desktop, size);
    line-height: map-get($desktop, line-height);
    letter-spacing: map-get($desktop, letter-spacing);
  }

}